@using TravelTripProje.Models.Siniflar
@model List<Blog>

<div class="right">
    @foreach (var i in Model)
    {
        <div class="bot-left">
            <img style="width:300px;height:150px;"src="@i.BlogImage" alt="" />
        </div>
        <div class="left-text">

            <h4>@i.Baslik</h4>
            <span class="doller">@i.Tarih.ToString("dd.MM.yyyy")</span>
            <p>@i.Aciklama.Substring(0,100)</p>
            <p><a href="/Blog/BlogDetay/@i.ID"><span class="read">Read More >></span></a></p>
        </div>
    }

</div>